.layoutContainer {
  border: 2px solid rgba(0, 105, 137, 0.167);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.13);
  margin: 48px;
  padding: 36px;
  border-radius: 8px;
  cursor: default;
  background-color: rgb(0, 105, 137);

  .sectionHeading {
    margin-bottom: 24px;
    color: white;
  }

  .card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 140px;
    display: inline-block;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    background-color: aliceblue;

    .label {
      margin-bottom: 8px;
      font-weight: bold;
    }

    .icon {
      font-size: 28px;
    }

    img {
      max-width: 50px;
      margin: 0 auto;
    }

    .value {
      margin-left: 4px;
      font-size: 22px;
    }
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .topRow {
    display: flex;
    align-items: center;
    gap: 72px;
    margin-bottom: 60px;

    .left {
      .largeContent {
        display: flex;
        align-items: center;

        img {
          width: 120px;
        }

        .currentTemp {
          font-size: 64px;
          color: white;
        }
      }
      .currentSituation {
        font-size: 24px;
        margin-bottom: 24px;
        color: rgba(255, 255, 255, 0.8);
      }

      .feelsLike {
        font-size: 20px;
        font-style: italic;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .right {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
    }
  }

  .nextHourWeatherSection {
    margin-bottom: 60px;
  }
}

// styles for responsiveness

@media screen and (max-width: 924px) {
  .layoutContainer {
    .topRow {
      flex-direction: column;

      .left {
        align-self: flex-start;
      }
    }
  }
}

@media screen and (max-width: 654px) {
  .layoutContainer {
    margin: 48px 24px;
    padding: 24px;

    .topRow {
      flex-direction: column;
      margin-bottom: 48px;

      .left {
        align-self: flex-start;

        .largeContent {
          .currentTemp {
            font-size: 46px;
          }
        }
      }
    }

    .nextHourWeatherSection {
      margin-bottom: 48px;
    }
  }
}

@media screen and (max-width: 426px) {
  .layoutContainer {
    .cardContainer {
      gap: 16px;
    }

    .card {
      width: 46%;
    }

    .topRow {
      flex-direction: column;
      gap: 8px;

      .left {
        align-self: flex-start;

        .largeContent {
          .currentTemp {
            font-size: 24px;
          }

          img {
            width: 100px;
          }
        }
        .currentSituation {
          margin-bottom: 12px;
        }

        .feelsLike {
          margin-bottom: 18px;
        }
      }
      .right {
        gap: 16px;
      }
    }
  }
}
