@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

.page-wrapper {
  min-height: 100vh;
  width: 100%;
}

.page-wrapper.darkModeOn {
  background-color: black;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
}

.page-container.darkModeOn {
  background-color: black;
  padding-bottom: 48px;
}
